<% if (gastroOffer.versions.composition){ %>
	<%_.each(composition,function(compElement,key,list) {%>
		<div class="avoid-page-break page-break2">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<span class="title5"><%= compElement.name %></span>
						</div>
						<hr class="cd-lineee" size="1" />
						<div class="col-xs-12">
								<% if(compElement.allergens){%>
									<%_.each(compElement.allergens,function(allergen,key,list) {%>
											<div class="pull-left">
												<div class="imageAllergen">
													<img src="<%= allergen.allergen.gallery.sizes[0].url %>">
												</div>
												<div class="textAllergen">
													<% if (allergen.level==1){%>
														<span class="allergens2"><%= allergen.allergen.lang[0].name %></span>
													<%} else {%>
														<span class="allergens1"><%= allergen.allergen.lang[0].name %></span>
													<%}%>
												</div>
											</div>												
									<%});%>
								<%} else {%>
									<span>---</span>
								<%}%>
						</div>
					</div>
				</div>
				<div class="col-xs-7">
					<% if(compElement.gallery) { %>
							<img class="img-fluid pull-left" src="<%=compElement.gallery%>" alt="Responsive image">
					<% } else { %>
							<img class="resizeDishImage img-fluid pull-left" src="<%=images.imgPlaceholder%>" alt="Responsive image" />
					<% } %>
				</div>
					<div class="col-xs-5">
						<h7 class="titleRecipe"><%= i18n.__('composition').toUpperCase() %></h7>
						<hr class="cd-line" size="1" />
						<% if(compElement.element.item.versions[0].composition.length > 0){%>

							<ul class="composition">
								<%_.each(compElement.element.item.versions[0].composition,function(compositionElement,key,list){%>
									<% if(gastroOffer.type != 'catalog'){ %>

										<% if(compositionElement.init == true){ %>

											<div class="col-xs-12" style="margin-top: 4px !important; margin-bottom: 3px !important;">
												<% if(compositionElement.category =='mainProduct'){ %>									
												<span class="control-label bold" ><%= i18n.__('P').toUpperCase() %></span>
												<% } %> 
												<% if(compositionElement.category =='sauce'){ %>
												<span class="control-label bold"><%= i18n.__('S').toUpperCase() %></span>	
												<% } %> 
												<% if(compositionElement.category =='dressing'){ %>
												<span class="control-label bold"><%= i18n.__('D').toUpperCase() %></span>
												<%} %> 
												<% if(compositionElement.category =='addition'){ %>
												<span class="control-label bold"><%= i18n.__('A').toUpperCase() %></span>
												<%}%>
											</div>
											<div class="col-xs-12" style="margin-top: 2px !important; margin-bottom: 1px !important;">
												<span class="pull-left avoidcom-page-break"><%=compositionElement.name%></span><span class="pull-right avoidcom-page-break"><%=compositionElement.grossWeight? compositionElement.grossWeight.toFixed(3):'' %><%='/'%> <%=compositionElement.measuringUnitShortName %></span>
											</div>

										<% } else { %> 

											<div class="col-xs-12" style="margin-top: 2px !important; margin-bottom: 1px !important;">
												<span class="pull-left avoidcom-page-break"><%=compositionElement.name%></span><span class="pull-right avoidcom-page-break"><%=compositionElement.grossWeight? compositionElement.grossWeight.toFixed(3):'' %><%='/'%> <%=compositionElement.measuringUnitShortName %></span>
											</div>

										<% } %>
								
									<%} else {%>
											<div class="col-xs-12" style="margin-top: 2px !important; margin-bottom: 1px !important;">
												<span class="pull-left avoidcom-page-break"><%=compositionElement.name%></span><span class="pull-right avoidcom-page-break"><%=compositionElement.grossWeight? compositionElement.grossWeight.toFixed(3):'' %><%='/'%> <%=compositionElement.measuringUnitShortName %></span>
											</div>

									<% } %>
								<%});%>
							</ul>

						<%} else {%>

							<div class="col-xs-12">
								<span><%= i18n.__('compositionEmpty').toUpperCase() %></span>
							</div>

						<%}%>
																
					</div>
			</div>
			<p> </p>
			<p> </p>
			<div class="avoid-page-break">
				
			</div>
			<p> </p>
			<p> </p>
			<p> </p>
			<p> </p>
			<p> </p>
			<p> </p>
			<div class="avoid-page-break" >
				<div class="row">
					<div class="col-xs-12">
						<h7 class="titleRecipe"><%= i18n.__('cookingSteps').toUpperCase() %></h7>
						<hr class="cd-line" size="1" />
					</div>
					<div class="col-xs-12">
						<% if(compElement.cookingSteps.length > 0){%>

							<div class="table-cd">
								<table class="table table-condensed">
									<tbody>
										<%_.each(compElement.cookingSteps,function(cookingStep,key,list){%>
										<tr>
											<td style=" width: 10px !important; font-size: 8px !important;"><div><%=key+1%></div></td>
											<td style="width: 15% !important;font-size: 8px !important; vertical-align: center !important; text-align: left !important; line-height: 8px !important;"><div><%=cookingStep.process.lang[0].name%></div></td>
											<td style="width: 45% !important; font-size: 8px !important; vertical-align: center !important; text-align: left !important; line-height: 8px !important;""><div><%=cookingStep.lang.description%></div></td>
											<td style="width: 19% !important; font-size: 8px !important; vertical-align: center !important; text-align: left !important; line-height: 8px !important;""><div><%=cookingStep.utensil.lang[0].name%></div></td>
											<% if(cookingStep.time == 0 || !cookingStep.time){ %> 
												<td style="width: 9% !important; vertical-align: center !important; text-align: center !important; line-height: 8px !important;"><div>---</div></td>
											<%} else { %> 
												<td style="width: 9% !important; font-size: 8px !important; vertical-align: center !important; text-align: center !important; line-height: 8px !important; display: inline-block !important;"><div style="display: inline-block !important;"><%=cookingStep.time  %></div>
													<% if(cookingStep.timeUnit == 'minutes'){%>
														<span style="display: inline-block !important;"><%= i18n.__('min') %></span>
													<% } else if( cookingStep.timeUnit == 'seconds'){ %>
													  <span style="display: inline-block !important;"><%= i18n.__('s') %></span> 
													<%} else if(cookingStep.timeUnit == 'hours'){%>
													  <span style="display: inline-block !important;"><%= i18n.__('h') %></span>
													<%}%>
												</td>
											<%}%>
											<% if(cookingStep.temperature == 0 || !cookingStep.temperature){ %> 
												<td style="width: 8% !important; vertical-align: center !important; text-align: center !important; line-height: 8px !important;"><div>---</div></td>
											<%} else { %> 
												<td style="width: 8% !important;font-size: 8px !important; vertical-align: center !important; text-align: center !important; line-height: 8px !important;"><div><%=cookingStep.temperature%>ºC</div></td>
											<%}%>
										</tr>
										<%});%>
									</tbody>
								</table>						
							</div>

						<%} else {%>

							<div class="col-xs-12">
								<span><%= i18n.__('noCookingSteps').toUpperCase() %></span>
							</div>

						<%}%>
						
					</div>
				</div>
			</div>
			<hr class="cd-linee" size="1" />
			<hr class="cd-linee space" size="1" />
			<div class="page-break-before">
				<% if(compElement.subproducts && compElement.subproducts.length){%>
					<%= subproductsListTemplate({composition: compElement.element.item.versions[0].composition, gastroOffer: gastroOffer, tax:tax, images:images, i18n:i18n, parentRecipe: compElement, elementsList: compElement.subproducts}) %>
				<%}%>
			</div>
			<div class="page-break2"></div>
		</div>
	<%});%>
<%}%>